<div class="container">
  <div class="section"></div>

  <div class="row" style="border-left: 1px solid rgba(0,0,0,.25);">
    <div class="col s12 m10 l7">
  <h4>Dear Friend,</h4>
  It is with much regret that I announce that The Cushion (formerly OurNaropa)
  has shut its doors.

  <br/><br/>

  When the idea for The Cushion was born in early April, I thought I had found
  the perfect opportunity for combining both my passion for web development and
  for making a positive contribution to our university.<br/><br/>

  I wanted to create an online space for students,
  faculty, and staff to connect, become friends, and for all of us to build
  community together.

  And I was wondering if we could we even <%= link_to democracy_path do %>
  use a web platform to bring more
  transparency and democracy to Naropa's decision<% end %>?

  <br/><br/>

  With all of this, from the start, my intention had
  always been to build something that would be of use to the <u>entire</u>
  Naropa University community.
  But it quickly became clear that I had caused an immense amount of concern
  and work for the Naropa administration.

  <br/><br/>

  At first, this was due to the fact that the website name
  "OurNaropa" violated our university's trademark. Later, because Naropa had
  serious concerns about liability and security.
  Resolving these issues would have exceeded the resources, time, and effort
  that the administration could offer.

  <br/><br/>

  With all of this, it quickly became evident to me that this website had
  fallen short of my original intention of serving the <u>entire</u> Naropa
  community. And with that, I decided that the best option was to shut this
  website down.

  <br/><br/>

  I want to express my gratitude to all those who were involved in this project
  in some way or another as well as those who gave me advice or made
  suggestions. Thank you <%= ["Learie", "Karen", "Todd", "Cheryl", "Mary", "Jim",
  "Suzie", "Bill", "Carole", "Daniel", "Jack", "Matt", "Ani", "Brittany", "Jan",
  "Shay", "Xiante", "Spenser", "Bobbi Jo", "Maria", "Brittany", "Audrey",
  "Simona", "Austin", "Sean"].sort_by!{ |e| e.downcase }.to_sentence %>.

  <br/><br/>

  Thank you so much &hearts;

    <div class="section"></div>

    </div>

  </div>

</div>
