<div class="container">
  <div class="row">
    <h1 class="center-align">OurNaropa</h1>
    <div class="divider"></div>
  </div>
  
  <div class="row">
    <div class="col s12 m6 l4 center-align">
      <i class="material-icons medium">search</i>
      <h5>Library Search</h5>
      <p>Search Naropa's libraries, CU's libraries, and the Boulder Public Library all at once.</p>
      <%= link_to library_path, :class => "waves-effect waves-light btn-large" do %>
        Go
      <% end %>
    </div>
    
    <div class="row hide-on-med-and-up">
      <div class="col s12">
        <div class="section"></div>
        <div class="divider"></div>
      </div>
    </div>
    
    <div class="col s12 m6 l4 center-align">
      <i class="material-icons medium">today</i>
      <h5>Event Calendar</h5>
      <p>Discover what's happening at Naropa, add your events, and share with friends.</p>
      <%= link_to calendar_path, :class => "waves-effect waves-light btn-large" do %>
        Go
      <% end %>
    </div>
    
    <div class="row hide-on-large-only">
      <div class="col s12">
        <div class="section"></div>
        <div class="divider"></div>
      </div>
    </div>
    
    <div class="col s12 m6 l4 center-align">
      <i class="material-icons medium">inbox</i>
      <h5>Course Planner</h5>
      <p>Search through the 427 courses offered in Fall 2016 and plan ahead for next semester.</p>
      <%= link_to planner_path, :class => "waves-effect waves-light btn-large" do %>
        Go
      <% end %>
    </div>

    <div class="row hide-on-med-only">
      <div class="col s12">
        <div class="section"></div>
        <div class="divider"></div>
      </div>
    </div>
  
    <div class="col s12 m6 l4 center-align">
      <i class="material-icons medium">forum</i>
      <h5>Forum (Beta)</h5>
      <p>A forum for incoming students to get to know each other and interact with current students.</p>
      <%= link_to forum_path, :class => "waves-effect waves-light btn-large" do %>
        Go
      <% end %>
    </div>    
    
    <div class="row hide-on-large-only">
      <div class="col s12">
        <div class="section"></div>
        <div class="divider"></div>
      </div>
    </div>
  
    <div class="col s12 m6 l4 center-align">
      <i class="material-icons medium">format_list_bulleted</i>
      <h5>Student Group Directory</h5>
      <p>Browse through a list of Naropa Student Groups and get involved!</p>
        <a class="waves-effect waves-light btn-large disabled">Coming Soon</a>
    </div>
  
  </div>
</div>